<!-- 

User's dashboard

Extends ../core/templates/base.html

 -->
{% extends "base.html" %}
<!--  Load courses/templatetags/courses_tags.py -->
{% load courses_tags %}
<!-- block content -->
{% block content %}
<!-- Load enrollments variable from course_tags.py-->
{% load_my_courses user as enrollments %}
<!-- Render base HTML -->

<div class="container-fluid">
    <ul class="breadcrumb">
    	<!-- Breadcrumbs block used by other html files -->
    	{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Control Panel</a></li>
        {% endblock %}    
    </ul>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
	        <div class="card">
	        	<div class="card-body">
		        	<div class="row">
			        	<div class="col-md-8">
				        	<h4 class="card-title"><i class="fas fa-user-cog"> Settings</i></h4>
				            <ul class="list-group list-group-flush">
				            	<li class="list-group-item">
				                	<a href="{% url 'accounts:edit' %}"><i class="fa fa-cog"> Edit data</i></a>
				                </li>
				                <li class="list-group-item">
				                	<a href="{% url 'accounts:edit_password' %}"><i class="fa fa-lock"> Edit password</i></a>
				                </li>
				             </ul>
			             </div>
			             <!-- Menu options block used by other html files -->
			             {% block menu_options %}
			             <div class="col-md-12">
							 <div class="card">
						     	<div class="card-body">
							       	<h5 class="card-title"><i class="fa fa-box"> Courses</i></h5>
						            <ul class="list-group list-group-flush">
				                    {% for enrollment in enrollments %}
				                    <div class="card">
				                    	<div class="card-body">
						                    <a class="card-title" data-toggle="collapse" href="#{{ enrollment.course.shortcut }}" role="button" aria-expanded="false" aria-controls="{{ enrollment.course.shortcut }}"><!-- href="{% url 'courses:announcements' enrollment.course.shortcut %}"> -->
						                    <i class="fas fa-folder"> {{ enrollment.course }}</i>
						                    </a>
							                <!-- Block with sub-menu options -->
							                <div id="{{ enrollment.course.shortcut }}" class="collapse multi-collapse">
							                	<ul>
													<li class="list-group-item">
													    <a href="{% url 'courses:lessons' enrollment.course.shortcut %}">
													        <i class="fa fa-video-camera"> Lessons</i> 
													    </a>
													</li>
													<li class="list-group-item">
													    <a href="{% url 'courses:lessons' enrollment.course.shortcut %}">
													        <i class="fa fa-book"> Materials</i> 
													    </a>
													</li>
													<li class="list-group-item">
													    <a href="#">
													        <i class="fa fa-info-circle"> Information</i>
													    </a>
													</li>
													<li class="list-group-item">
													    <a href="{% url 'courses:announcements' enrollment.course.shortcut %}">
													        <i class="fas fa-bullhorn"> Announcements</i>
													    </a>
													</li>
													<li class="list-group-item">
													    <a href="#">
													        <i class="fa fa-comments"> Course Forum</i>
													    </a>
													</li>
												</ul>
							                </div>
						                </div>
						            </div>   
		                			{% empty %} 
					                <!-- in case there are no items to show -->
					                	<li class="list-group-item">
					                		<a href="#">
					                		<i class="fa fa-book"></i> No courses found!
					                		</a>
					                	</li>
					                {% endfor %}
			            			</ul>
				            	</div>
				            </div>
			            </div>
			            {% endblock %}
		            </div>
	            </div>
	        </div>
	    </div>
	    <!-- Dashboard content block used by other html files -->
	    <div class="col-md-8">
		    <div class="card">    
		    {% block dashboard_content %}
	            <div class="card-body">
	                <h3 class="card-title">
	                	<a title=""><i class="fas fa-box-open"></i> Courses</a>
	                </h3>
				    {% for enrollment in enrollments %}
			    	<!-- <i class="fa fa-search"></i> -->
		            <div class="card">
			            <div class="card-body">
			                <h3 class="card-title">
			                	<a href="{% url 'courses:announcements' enrollment.course.shortcut %}" title=""><i class="fas fa-folder-open"> {{ enrollment.course }}</i></a>
			                </h3>
			                <h6 class="card-subtitle mb-2 text-muted">
			                    <i class="fas fa-calendar-day"></i> Released on: {{ enrollment.course.created_on }} |
			                    <i class="far fa-calendar-alt"></i> Starts on: {{ enrollment.course.startDate|date:'d/m/Y'|default:'To be disclosed...' }}
			                </h6>
			                {{ enrollment.course.desc|linebreaks }}
			            </div>
			        </div>
			        {% empty %}
				    <aside class="well">
				        <p>No enrollments found!</p>
				    </aside>
			    	{% endfor %}
			    </div>
			 {% endblock %}<!-- END Dashboard content block -->
			 </div>
	 	</div>
	</div>
</div>
{% endblock %}