{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a>Change Password</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="card-body">
    <h3 class="card-title">
        <a title=""><i class="fas fa-lock-open"></i> Change password</a>
    </h3>
    <h6 class="card-subtitle mb-2 text-muted">
        <i class="fas fa-calendar-day"></i> Registration: {{ user.date_joined }}    
    </h6>
    <div class="card">
        <div class="card-body">
			<form class="form" method="post">
			    {% csrf_token %}
			    {% if success %}
			    <p>Done! You've changed your password!</p>
			    {% endif %}
			    <fieldset>
			        {{ form.non_field_errors }}
			        {% for field in form %}
			        <div class="form-group">
			            {{ field.label_tag }}
			            {{ field }}
			            {{ field.errors }}
			        </div>
			        {% endfor %}
			        <div class="card-footer">
			            <button type="submit" class="btn btn-secondary btn-sm">Change Password!</button>
			        </div>
			    </fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}