{% extends "base.html" %}

{% block content %}
<div class="well" align="center">
     <h2>Please, enter your data bellow</h2>
     <div class="well well-sm">
     <form method="post">
         {% csrf_token %}
         <fieldset>
             {{ form.non_field_errors }}
             {% for field in form %}
             <div class="form-group">
                 {{ field.label_tag }}
                 {{ field }}
                 {{ field.errors }}
             </div>
             {% endfor %}
            <div>
				<input id="submit" type="submit" class="btn btn-secondary" value="Connect">
			</div>
         </fieldset>
     </form>
     </div>
     <div class="well well-sm">
	   <p>
	      Don't have an account? <a href="{% url 'accounts:register' %}" title="">Register</a> <br />
	      Forgot password? <a href="{% url 'accounts:password_reset' %}" title="">Change password</a> <br />
	   </p>
	 </div>
</div>
{% endblock %}