{% extends "base.html" %}

{% block content %}
	<div class="container">
		<!-- Begin ROW -->
		<div class="row justify-content-center">
			<!-- Columns -->
			<div class="col-md-6 col-sm-6 col-lg-6">
				<div class="card">
					<div class="card-body">
						{% if success %}
				        	<h3 class="card-title">
				        	<i class="fas fa-lock-open"> Done! You new password was successfully registered!</i>
				        	</h3>
				        {% else %}
							<h3 class="card-title"><i class="fas fa-lock"> Please, enter a new password</i></h3>
							<hr>
							<p class="card-text">
								<form method="post">
							         {% csrf_token %}
							         <fieldset>
							             {{ form.non_field_errors }}
							             {% for field in form %}
							             <div class="form-group">
							                 {{ field.label_tag }}
							                 {{ field }}
							                 {{ field.errors }}
							             </div>
							             {% endfor %}
							            <div>
											<input id="submit" type="submit" class="btn btn-secondary" value="Change password!">
										</div>
							         </fieldset>
							     </form>
							</p>
						{% endif %}
		            </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}