{% extends "base.html" %}

{% block content %}
<div class="container">
		<!-- Begin ROW -->
		<div class="row justify-content-center">
			<!-- Columns -->
			<div class="col-md-6 col-sm-6 col-lg-6">
				<div class="card">
					<div class="card-body">
						{% if success %}	        
					        <h3 class="card-title"><i class="fas fa-lock"> Done!</i></h3>
					        <hr>
							<p class="card-text">
								E-mail sent with details about how to define a new password.<br>
								Please, check given e-mail account.<br>
					        	<h4><strong>Thank you!</strong></h4>
							</p>
				        {% else %}
							<h3 class="card-title"><i class="fas fa-lock"> Password change request</i></h3>
							<hr>
							<p class="card-text"> 
								<form method="post">
							         {% csrf_token %}
							         <fieldset>
							             {{ form.non_field_errors }}
							             {% for field in form %}
							             <div class="form-group">
							                 {{ field }}
							                 {{ field.errors }}
							             </div>
							             {% endfor %}
							            <div class="col text-center">
											<input id="submit" type="submit" class="btn btn-secondary center" value="Send e-mail!">
										</div>
							         </fieldset>
							     </form>
							</p>
						{% endif %}
		            </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
	