{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-body">
        {% if success %}
        <p>
        	Done! <br>
        	E-mail sent with details about how to define a new password.<br>
        	Thank you!
        </p>
        {% else %}
        <h2>Please, enter your e-mail</h2>
        <div class="formwrapper">
        	<form method="post">
	            {% csrf_token %}
	            <fieldset>
	                {{ form.non_field_errors }}
	
	                {% for field in form %}
	                <div class="form-group">
	                    {{ field.label_tag }}
	                    {{ field }} <button type="submit" class="btn btn-primary btn-sm login-btn">
	                    	<span class="glyphicon glyphicon-envelope"></span>
	                    	Send e-mail!
	                    	</button>
	                    {{ field.errors }}
	                </div>
	                {% endfor %}

	            </fieldset>
        	</form>
        </div>
        {% endif %}
    </div>
</dsiv>
{% endblock %}