{% extends "base.html" %}

{% block content %}
<div class="container">
	<!-- Begin ROW -->
	<div class="row justify-content-center">
			<!-- Columns -->
		 <div class="card">
		     <div class="row no-gutters">
		     	<div class="col-auto">
		         	<img class="img-fluid" src="http://placehold.it/400x250" alt="Exercises">
		         </div>
		         <div class="col my-auto">
		             <div class="card-block px-2">
		             	<br>
		                <h4 class="card-title"><i class="fas fa-pen"> Please, enter your data</i></h4>
		                <hr>
		                <form novalidate method="post">
			            	{% csrf_token %}
			            	<fieldset>
			                {{ form.non_field_errors }}
			                {% for field in form %}
			                <div class="form-group">
			                    {{ field.label_tag }}
			                    {{ field }}
			                    {{ field.errors }}
			                </div>
			                {% endfor %}
			            	</fieldset>
			        	</form>
		                 <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
		             </div>
		         </div>
		      </div>
		      <div class="card-footer">
	              <small>By registering in our application you agree...</small>
	              <span><input id="submit" type="submit" class="btn btn-secondary float-right" value="Register"></span>
	          </div>
		</div>
	</div>
</div>
{% endblock %}
