{% extends "base.html" %}

{% block content %}
<div class="container">
	<!-- Begin ROW -->
	<div class="row justify-content-center">
			<!-- Columns -->
		 <div class="card">
		     <div class="row no-gutters">
		     	<div class="col-auto">
		     	<!-- /Users/franklincarrilho/Documents/ProgrammingProjects/Resources/images/fromInternet/photos/closeup/400x300_writing_on_paper_02.jpg
		     	href="https://www.csadesign.eco.br/img/photos/closeup/400x300_writing_on_paper_02.jpg" -->
		         	<img class="img-fluid" src="https://www.csadesign.eco.br/img/photos/closeup/400x300_writing_on_paper_02.jpg" alt="Sign Up!">
		         </div>
		         <div class="col my-auto">
		             <div class="card-block px-2">
		             	<br>
		                <h4 class="card-title"><i class="fas fa-pen"> Please, enter your data</i></h4>
		                <hr>
		                <form novalidate method="post">
			            	{% csrf_token %}
			            	<fieldset>
			                {{ form.non_field_errors }}
			                {% for field in form %}
			                <div class="form-group">
			                    
			                    {{ field }}
			                    {{ field.errors }}
			                </div>
			                {% endfor %}
			                <div class="card-footer">
					              <small>By registering in our application you agree...</small>
					              <p>
					              <small>
					              		<a href={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ object.get_absolute_url }}> Home</a>
					              </small>
					              </p>
					              <span><input id="submit" type="submit" class="btn btn-secondary float-right" value="Register"></span>
					        </div>
			            	</fieldset>
			        	</form>
		                 <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
		             </div>
		         </div>
		      </div>

		</div>
	</div>
</div>
{% endblock %}
