<!-- begin bootstrap footer -->
	<footer class="footer">
		<div class="container bottom_border">
			<div class="row">
				<div class="col-sm-4 col-md col-sm-4 col-12 col">
				
					<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
					<!--headin5_amrc-->
					<p class="mb10">
						Just in case you ever need to get in touch, please, contact us!
						The addresses here will help making your life easier, hopefully.
					</p>
					<p><i class="fa fa-location-arrow"></i> 57037-900, Bl.3/401 </p>
					<p><i class="fa fa-phone"></i>  +55 82 99915 3002 </p>
					<p><i class="fa fa fa-envelope"></i> franklin.carrilho@gmail.com</p>
				</div>
		
				<div class="col-sm-4 col-md col-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Online Courses</h5>
					
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li><a href="https://courses.edx.org/dashboard" target="_blank">EDx</a></li>
			            <li><a href="https://www.udemy.com/" target="_blank">Udemy</a></li>
			            <li><a href="https://www.coursera.com/" target="_blank">Coursera</a></li>
					</ul>
				<!--footer_ul_amrc ends here-->
				</div>
		
				<div class="col-sm-4 col-md col-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Tutorials</h5>
					
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
			            <li><a href="https://codepen.io/" target="_blank">Codepen</a></li>
			            <li><a href="https://www.freecodecamp.org/" target="_blank">FreeCodeCamp</a></li>
			            <li><a href="https://www.constantcontact.com/index.jsp">Constant Contact</a></li>
			            <li><a href="https://tutorialzine.com/" target="_blank">tutorialzine</a></li>
			            <li><a href="https://www.w3schools.com/" target="_blank">w3schools</a></li>
					</ul>
				<!--footer_ul_amrc ends here-->
				</div>
		
				<div class="col-sm-4 col-md col-12 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Find us @</h5>
					<!--headin5_amrc ends here-->
					<ul class="social-network social-circle"> <!-- class="social_footer_ul">  -->
						<li><a href="https://www.facebook.com/people/Franklin-Carrilho-Siqueira/1026914384" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://www.linkedin.com/in/franklin-siqueira-a519a131/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
					</ul>

				<!--footer_ul2_amrc ends here-->
				</div>
			</div>
		</div>
		
		<div class="container">
			<ul class="foote_bottom_ul_amrc">
				<li><a href="{% url 'core:home' %}">Home</a></li>
				<li><a href="{% url 'courses:index' %}">Courses</a></li>
				<li><a href="{% url 'core:contact' %}">Contact</a></li>
				<li><a href="{% url 'forum:index' %}">Forum</a></li>
				<li> 
				<form class="form-inline my-2 my-lg-0" action="http://www.google.com/search?q=" method="get" target="_blank">
					<button title="Search..." class="btn btn-outline-secondary btn-sm" value="Google Search" type="submit"><i class="fa fa-search"></i></button>
					<input class="form-control form-control-sm" name="q" type="text" placeholder="Google search" aria-label="Search"/>
	    		</form>
	    		</li>
			</ul>
			
			<!--foote_bottom_ul_amrc ends here-->
			<p class="text-center">&copy; Copyright 2019 | Designed by <span class="badge badge-secondary">@it.</span>Franklin Siqueira</p>
			
		<!--social_footer_ul ends here-->
		</div>

	</footer><!-- end footer -->