{% block meta %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	    <!-- https://www.csadesign.eco.br/img/photos/closeup/400x300_writing_on_paper_02.jpg -->
	    <!--                                  CSS                                          -->	
		<!--                               Custom CSS                                      -->
		<link rel="shortcut icon" href="https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/dist/img/favicon.ico">
		<link rel="stylesheet" href="https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/css/custom.css">
		<link rel="stylesheet" href="https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/css/datepicker.css">
		
		<!--                              Login/Signup CSS                                 -->
		<link rel="stylesheet" href="https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/dist/css/account.css">
		
		<!--                                 Public CSS                                    -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	
	    <!--                                    JS                                         -->
		<!--                                  JQuery                                       -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
		
		<!--                           Bootstrap 4 and Popper                              -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- <script src="https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/scripts/bootstrap.bundle.min.js')}}"></script> -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
		
		<!--                         Date Picker and FontAwesome                           -->
		<script src="https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/scripts/datepicker.js')}}"></script>
		<script src="https://kit.fontawesome.com/04b89eb396.js"></script>
		<!--                Floating Back to Top Button (by Rohan Hapani)                  -->
		<style>
			#scroll {
			    position:fixed;
			    right:10px;
			    bottom:10px;
			    cursor:pointer;
			    width:50px;
			    height:50px;
			    background-color:#899eb5;
			    text-indent:-9999px;
			    display:none;
			    -webkit-border-radius:60px;
			    -moz-border-radius:60px;
			    border-radius:60px
			}
			#scroll span {
			    position:absolute;
			    top:50%;
			    left:50%;
			    margin-left:-8px;
			    margin-top:-12px;
			    height:0;
			    width:0;
			    border:8px solid transparent;
			    border-bottom-color:#ffffff;
			}
			#scroll:hover {
			    background-color:#e74c3c;
			    opacity:1;
			    filter:"alpha(opacity=100)";
			    -ms-filter:"alpha(opacity=100)";
			}
		</style>
		<!--                          For Page Load Progress Bar                                -->
		<style>
			.progress{
	          position: fixed;
	          left: 0;
	          top: 0;
	          width: 100%;
	          height: 100%;
	          z-index: 9999;
	          background-color: #F2F2F2;
	          background: "../static/img/loader_02.gif";
	          background-position: center;
	          opacity: .95;
	        }
	        .bar{
	          background-color:#048a11;
	          width: 0%;
	          height: 10px;
	          border-radius: 3px;
	        }
	        .percent{
	          position: absolute;
	          display: inline-block;
	          top: 3px;
	          left: 48%;
	        }
		</style>
		<!--                               Generic CSS                                     -->
		<style>
			.bg-cover-home {
			opacity: 0.9;
			background-image: url("https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/img/IMG-20111011-00702.png");
			background-size: cover;
			}
			.bg-cover-About {
				opacity: 0.5;
				background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/img/IMG-20111011-00702.png");
				background-size: cover;
			}
			.bg-cover-stocks {
				opacity: 0.5;
				background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/img/IMG-20111011-00702.png");
				background-size: cover;
			}
			.bg-cover-heights {
				opacity: 0.5;
				background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://fcsaws.s3-sa-east-1.amazonaws.com/fcsstatic/img/IMG-20111011-00702.png");
				background-size: cover;
			}						
			.jumbo-text {
				color: white;
			}
			hr {
			    border: none;
			    height: 1px;
			    /* Set the hr color */
			    color: #333; /* old IE */
			    background-color: #333; /* Modern Browsers */
			}
			.profile {
			    position: absolute;
			    top: -12px;
			    display: inline-block;
			    overflow: hidden;
			    box-sizing: border-box;
			    width: 25px;
			    height: 25px;
			    margin: 0;
			    border: 1px solid #fff;
			    border-radius: 50%;
			}
			.profile-avatar {
			    display: block;
			    width: 100%;
			    height: 100%;
			    border-radius: 50%;
			}
		</style>
		<!--                          Script for Page Load Progress Bar                     -->
		<script>
	        var all = document.getElementsByTagName("*");
	        var totalElems = all.length;
	        
	         document.onreadystatechange = function(e){
	          if(document.readyState == "interactive"){
	            var all = document.getElementsByTagName("*");
	            for (var i = 0, max = all.length; i < max; i++){
	              set_ele(all[i]);
	            }
	          }
	        }
	
	        function check_element(ele){
	
	            var all = document.getElementsByTagName("*");
	            var totalElems = all.length;
	            var per_inc = 100/totalElems;
	
	            if($(ele).on()){
	              var prog_width = per_inc + Number(document.getElementById("progress_width").value);
	              document.getElementById("progress_width").value = prog_width;
	
	              $("#bar1").animate({width: prog_width + "%"}, 10, function(){
	
	              if(document.getElementById("bar1").style.width == "100%"){
	                  $(".progress").fadeOut("slow");
	                }
	              });
	            } else {
	              set_ele(ele);
	            }
	        }
	
	        function set_ele(set_element){
	          check_element(set_element);
	        }
	    </script>
{% endblock %}