{% extends "base.html" %}

{% block content %}
	<div class="container">
		<!-- Begin ROW -->
		<div class="row justify-content-center">
			<!-- Columns -->
			<div class="col-md-6 col-sm-6 col-lg-6">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title"><i class="fas fa-pen"> Contact us</i></h3>
						<hr>
						<p class="card-text"> 
							Get in touch either by e-mail or social networks channels. 
							Please, just choose one of the links that follows bellow:
						</p>
						<h6>Links:</h6>
			            <ul>
			                <li class="list-group-item"><a href="mailto:franklin.cs@outlook.com"><i class="fas fa-envelope"> franklin.cs@outlook.com</i></a></li>
			                <li class="list-group-item"><a href="https://twitter.com/FranklinSiquei9"><i class="fab fa-twitter"> &commat;Franklin_CSA</i></a></li>
			            </ul>
		            </div>
		            <div class="card-footer">
			            <div class="embed-responsive embed-responsive-1by1">
			            	<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?q=rua+nestor+silva,+224,+santana,+recife,+pe&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			            </div>
						<!-- <div style="max-width:100%;overflow:hidden;color:red;width:500px;height:500px;"><div id="embedmap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=rua+nestor+silva,+224,+santana,+recife,+pe&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div>
						<a class="googlemaps-code" rel="nofollow" href="https://www.embed-map.com" id="enablemaps-data">https://www.embed-map.com</a>
						</div> -->
					</div>
			</div>
		</div>
	</div>
{% endblock %}