{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h1>Contact us</h1>
            <p>
            	Get in touch either by e-mail or social networks channels. Please, just choose one of the links that follows bellow:  
            </p>
            <h4>Links</h4>
            <ul>
                <li>E-mail: <a href="mailto:info@csadesign.eco.br">info@csadesign.eco.br</a></li>
                <li>Twitter: <a href="https://twitter.com/Franklin_CSA">@Franklin_CSA</a></li>
            </ul>
        </div>
    </div>
{% endblock %}