{% extends "base.html" %}

{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        A Simple and Easy e-Learning Platform
                    </h1>
                    <h2 class="splash-subhead">
                        fcs-Simple MOOC's Goal's to Make Long-Distance Learning Simple and Easy,
                        Providing the Students and Teachers (meaning YOU!) with To-The-Point Tools!
                    </h2>
                    <p>
                        <a href="#" class="pure-button primary-button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Video Classes and Online Material</h4>
                <h3>Publish Your Classes</h3>
                <p>
                    fcs-Simple MOOC provides a practical and simple system giving the teacher
                    the power to engage motivated students in a resources-rich environment.
                    Video-classes, PDF files, featured slides, and images. You name it! <br>fcs-Simple MOOC backs you up  
                </p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Video classes and online material.">
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Course forum">
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Course forum</h4>
                <h3>Interact With Your Students</h3>
                <p>
                    fcs-Simple MOOC provides you (Teacher) with the right tool to engage and get in touch
                    with the students, while allowing peers' interaction.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Exercícios</h4>
                <h3>Prepare and deploy assessments' quizzes</h3>
                <p>
                   You have the power to develop and deploy quizzes and exercises in order to
                   assess your classes, having the automatic control of grades and resolutions provided by the system.
                   Way to Go!
                </p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Exercizes">
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Notices Blackboard">
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Notices Blackboard</h4>
                <h3>Send announcements directly to the class</h3>
                <p>
                   Organizing important course's announcements is easy and simple! 
                </p>
            </div>
        </div>
    </div>
{% endblock %}