{% extends "base.html" %}

{% block content %}
	<div class="jumbotron jumbotron-fluid bg-cover-home">
		<div class="container jumbo-text">
		  <h2 class="display-4">A Simple and Easy e-Learning Platform</h2>
		  <p class="lead">
		   fcs-Simple MOOC's (f-SMOOC) Goal is Making Long-Distance Learning Simple and Easy,
		         Providing the Students and Teachers (meaning YOU!) with To-The-Point Tools!
		  </p>
		  <hr> <!-- class="style13"> -->
		  <p>
		   Be part of this simple and engaging platform and spread the word with confidence.
		  </p>
		  <a href="#" class="btn btn-secondary float-right btn-sm">Learn more</a>
		</div>
	</div><!-- end load Jumbotron's content -->
	<div class="container">
		<h3 class="h3">You Have it All in One Place! </h3>
		<hr>
		<!-- Begin ROW -->
		<div class="row">
			<!-- Columns -->
			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<div class="card"> <!--  style="width: 15rem;" -->
			          <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
			          <div class="card-body">
			          	
			          	<div class="meta">
                            <a>Video Classes</a>
                        </div>
                        
			            <h5 class="card-title">Publish Your Classes</h5>
			            <p class="card-text">fcs-Simple MOOC provides a practical and simple system giving the teacher
                    the power to engage motivated students in a resources-rich environment.
                    Video-classes, PDF files, featured slides, and images. You name it! <br>fcs-Simple MOOC backs you up!</p>
			          </div>
			          <div class="card-footer">
	                        <small>More information?</small>
	                        <a href="#" class="btn btn-secondary float-right btn-sm">Learn</a>
	                  </div>
			     </div>
			</div>
			
			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<div class="card">
			          <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
			          <div class="card-body">
			          	<div class="meta">
                            <a>Course forum</a>
                        </div>
			            <h5 class="card-title">Interact With Your Students</h5>
			            <p class="card-text">fcs-Simple MOOC provides you (Teacher) with the right tool to engage and get in touch
                    with the students, while allowing peers' interaction.</p>
			          </div>
			          <div class="card-footer">
	                        <small>More information?</small>
	                        <a href="#" class="btn btn-secondary float-right btn-sm">Learn</a>
	                  </div>
			     </div>
			</div>
			
			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<div class="card">
			          <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
			          <div class="card-body">
			          	<div class="meta">
                            <a>Notices Blackboard</a>
                        </div>
			            <h5 class="card-title">Send announcements directly to the class</h5>
			            <p class="card-text">Through the blackboard system, organizing important course's announcements is easy and simple. 
			            Important news and courses updates are just a post away.</p>
			          </div>
			          <div class="card-footer">
	                        <small>More information?</small>
	                        <a href="#" class="btn btn-secondary float-right btn-sm">Learn</a>
	                  </div>
			     </div>
			</div>
			
			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<div class="card"> <!--  style="width: 15rem;" -->
			          <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
			          <div class="card-body">
			          	<div class="meta">
                            <a>Exercises</a>
                        </div>
			            <h5 class="card-title">Prepare and deploy assessments' quizzes</h5>
			            <p class="card-text">You have the power to develop and deploy quizzes and exercises in order to
                   assess your classes, having the automatic control of grades and resolutions provided by the system.
                   Way to Go!</p>
			          </div>
			          <div class="card-footer">
	                        <small>More information?</small>
	                        <a href="#" class="btn btn-secondary float-right btn-sm">Learn</a>
	                  </div>
			     </div>
			</div>
		</div>
		<hr>
		<h3 class="h3">A Simple and Easy e-Learning Platform </h3>
		<hr>
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<p> 
					fcs-Simple MOOC's (f-SMOOC) Goal is to Make Long-Distance Learning Simple and Easy,
	                Providing the Students and Teachers (meaning YOU!) with To-The-Point Tools!.
				</p>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
				<p> 
					fcs-Simple MOOC's (f-SMOOC) Goal is to Make Long-Distance Learning Simple and Easy,
	                Providing the Students and Teachers (meaning YOU!) with To-The-Point Tools!.
				</p>
			</div>
		</div>
	</div>
<!--  -->

<!--  -->
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Course forum">
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Course forum</h4>
                <h3>Interact With Your Students</h3>
                <p>
                    fcs-Simple MOOC provides you (Teacher) with the right tool to engage and get in touch
                    with the students, while allowing peers' interaction.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Exercises</h4>
                <h3>Prepare and deploy assessments' quizzes</h3>
                <p>
                   You have the power to develop and deploy quizzes and exercises in order to
                   assess your classes, having the automatic control of grades and resolutions provided by the system.
                   Way to Go!
                </p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Exercises">
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1-3">
            <div class="l-box">
                <img src="http://placehold.it/400x250"
                     alt="Notices Blackboard">
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Notices Blackboard</h4>
                <h3>Send announcements directly to the class</h3>
                <p>
                   Organizing important course's announcements is easy and simple! 
                </p>
            </div>
        </div>
    </div>
{% endblock %}