<!-- load base URL -->
{% extends "base.html" %}
<!-- load static resources directory -->
{% load static %}
<!-- define block content -->
{% block content %}
<div class="container">
	<div class="card">
		<div class="card-body">
	         <h3 class="card-title">
	            <a title=""><i class="fas fa-th-list"></i> Courses' Listings</a>
	         </h3>
	         <div class="row">
			    <div class="card-deck">
			    {% for course in courseList %}
			        <!-- <div class="col-md-6"> -->
				        <div class="card">
					         <a href="{{ course.get_absolute_url }}">
					            {% if course.image %}
					            	<img class="card-img-top" src="{{ course.image.url }}" alt="{{ course.name }}" />
					            {% else %}
					            	<img class="card-img-top" src="{% static 'img/course-image.png' %}" alt="{{ course.name }}" />
					            {% endif %}
					         </a>
				            <div class="card-body">
				                <h3 class="card-title">
				                	<a href="{{ course.get_absolute_url }}" title=""> {{ course.name }}</a>
				                </h3>
				                <h6 class="card-subtitle mb-2 text-muted">
				                    <i class="fas fa-calendar-day"></i> {{ course.created_on }}
				                </h6>
				                {{ course.desc|linebreaks }}
				            </div>
				            <div class="card-footer">
				            	<!--  -->
				            </div>
				        </div>
				        {% empty %}
				        <!--  in case there are no elements in the courses's table -->
					    <div class="card">
						    <div class="card-body">
						        <p>There aren't any courses available on the platform!</p>
						    </div>
					    </div>
				    <!-- </div> -->
		    	{% endfor %}
		    	</div>
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}