<!-- load base URL -->
{% extends "base.html" %}
<!-- load static resources directory -->
{% load static %}
<!-- define block content -->
{% block content %}
	<div class="pure-g-r content-ribbon">
	    <div class="pure-u-1">
	        <div class="l-box">
	            <h4 class="content-subhead">Courses' Listing to: fcs-Simple MOOC</h4>
	            <p>Available courses on the platform:</p>
	        </div>
	    </div>
	</div>
	{% for course in courseList %}
		<div class="pure-g-r content-ribbon">
		    <div class="pure-u-1-3">
		        <div class="l-box">
		            <a href="{{ course.get_absolute_url }}">
		            {% if course.image %}
		            	<img src="{{ course.image.url }}" alt="{{ course.name }}" />
		            {% else %}
		            	<img src="{% static 'img/course-image.png' %}" alt="{{ course.name }}" />
		            {% endif %}
		            </a>
		        </div>
		    </div>
		    <div class="pure-u-2-3">
		        <div class="l-box">
		            <h4 class="content-subhead"><a href="{{ course.get_absolute_url }}" title="">{{ course.name }}</a></h4>
		            {{ course.desc|linebreaks }}
		        </div>
		    </div>
		</div>
	<!--  in case there are no elements in the courses's table -->
	{% empty %}
		<div class="pure-g-r content-ribbon">
		    <div class="pure-u-1">
		        <div class="l-box">
		            <p>There aren't any courses available on the platform!</p>
		        </div>
		    </div>
		</div>
	{% endfor %}
{% endblock %}