<!--  -->
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a>Discussion Forum</a></li>    
    </ul>
</div>
<div class="container-fluid">
	<div class="row">
		{% include './cardTopics.html' %}
	    <div class="col-md-8">
	    	{% for thread in object_list %}
	    	<!-- <i class="fa fa-search"></i> -->
            <div class="card">
	            <div class="card-body">
	                <h3 class="card-title">
	                	<a href="{{ thread.get_absolute_url }}" title="">{{ thread.title }}</a>
	                </h3>
	                <h6 class="card-subtitle mb-2 text-muted">
	                    Created by {{ thread.author }} | {{ thread.answers }} repl{{ thread.answers|pluralize:"y,ies" }} | {{ thread.views }} Visualization{{ thread.views|pluralize }}
	                </h6>
	                <p>
	                    <i class="fa fa-tags"></i>
	                    Tags: 
	                    {% for tag in thread.tags.all %}
		                    <a href="{% url 'forum:index_tagged' tag.slug %}" title="">
		                    	{{ tag }}
		                    </a>{% if not forloop.last %},{% endif %}
	                    {% endfor %}
	                    <a class="fright" title="">Updated {{ thread.updated_on|timesince }} ago</a>
	                </p>
	            </div>
	        </div>
	    	{% endfor %}
	    	<ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
	                <li class="page-link">
	                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" title="">Previous</a>
	                </li>
                {% endif %}
                {% for page in paginator.page_range %}
	                <li class="page-item" {% if page == page_obj.number %} class="active"{% endif %}>
	                    <a class="page-link" href="?page={{ page }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" title="">{{ page }}</a>
	                </li>
	                {% endfor %}
                {% if page_obj.has_next %}
	                <li class="page-link">
	                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" title="">Next</a>
	                </li>
                {% endif %}
            </ul>
	    </div>      
	</div>
</div>
{% endblock %}