<!--  -->
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Discussion Forum</a></li>    
        <!-- <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li> -->
        <li class="breadcrumb-item"><a>{{ object }}</a></li>
    </ul>
</div>
<div class="container-fluid">
	<div class="row">
	    {% include './cardTopics.html' %}
	    <div class="col-md-8">
            <div class="card">
	            <div class="card-body">
	                <h2 class="card-title">
	                	{{ object }}
	                </h2>
	                <h6 class="card-subtitle mb-2 text-muted">
	                    Created by {{ object.author }}
	                </h6>
	                <p class="card-text">
	                	{{ object.body|linebreaks }}
	                </p>
	                
	                <p>
	                    <i class="fa fa-tags"> Tags:</i>
		                    {% for tag in object.tags.all %}
		                    <a class="card-link" href="{% url 'forum:index_tagged' tag.slug %}" title="">
		                    	<i class="fa fa-tag"> {{ tag }}</i>
		                    </a><!-- {% if not forloop.last %},{% endif %} -->
	                    	{% endfor %}
	                    <a class="fright">
	                    	Created {{ object.created_on|timesince }} ago
	                    </a>
	                </p>
                <div class="card" id="div-comments">
                	<div class="card-body">
		                <div class="card-title">
			                <h5 id="comments">Replies	              
			                <span>
			                	<a href="#add_comment" class="btn btn-secondary float-right btn-sm">Post a Reply</a>
			                </span>
			                </h5>
			                <hr>
		               </div>
	               
                {% for reply in object.replies.all %}
	                <div class="card">
		                <div class="card-body">
			                <p>
			                    <strong>{{ reply.author }}</strong> replied {{ reply.created_on|timesince }} ago:
			                    <br>
			                    {{ reply.reply|linebreaksbr }}
			                    <br>
			                    {% if object.author == user %}
				                    <a href="{% url 'forum:reply_incorrect' reply.pk %}" title="" class="pure-button button-error reply-cancel-correct-lnk{% if not reply.correct %} hidden{% endif %}">Undo right answer</a>
				
				                    <a href="{% url 'forum:reply_correct' reply.pk %}" title="" class="pure-button button-success reply-correct-lnk{% if reply.correct %} hidden{% endif %}">Right answer</a>
				
				                    <span class="fright label-success reply-correct-msg{% if not reply.correct %} hidden{% endif %}">Author's selected answer</span>
				                    <br class="reply-correct-msg{% if not reply.correct %} hidden{% endif %}"/>
				                {% elif reply.correct %}
				                    <span class="fright label-success">Author's selected answer</span>
				                    <!-- <br> -->
			                    {% endif %}
			                </p>
		                </div>
	                </div>
                {% endfor %}
                <div class="card" id="add_comment">
	                <div class="card-body">
		                <form class="form-group" method="post">
		                    <fieldset>
		                        {% csrf_token %}
		                        {% for field in form %}
		                        <div class="form-group">
		                            {{ field.label_tag }}
		                            {{ field }}
		                            {{ field.errors }}
		                        </div>
		                        {% endfor %}
		                        <div>
		                            <button type="submit" class="btn btn-secondary float-right btn-sm">Submit</button>
		                        </div>
		                    </fieldset>
		                </form>
	                </div>
                </div>
                </div>
                </div>

	        </div>
            </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(".reply-cancel-correct-lnk").on("click", function(e){
        e.preventDefault();
        var $this = $(this);
        var $p = $this.closest("p");
        $.get($this.attr('href'), function(data){
            if(data.success){
                $p.find(".reply-correct-msg").addClass('hidden');
                $this.addClass('hidden');
                $p.find('.reply-correct-lnk').removeClass('hidden');
            } else {
                alert(data.message);
            }
        }, "json");
        return false;
    });
    $('.reply-correct-lnk').on('click', function(e){
        e.preventDefault();
        var $this = $(this);
        var $p = $this.closest("p");
        $.get($this.attr('href'), function(data){
            if(data.success){
                $("#div-comments .reply-correct-msg").addClass('hidden');
                $("#div-comments .reply-cancel-correct-lnk").addClass('hidden');
                $("#div-comments .reply-correct-lnk").removeClass('hidden');
                
                $p.find(".reply-correct-msg").removeClass('hidden');
                $this.addClass('hidden');
                $p.find('.reply-cancel-correct-lnk').removeClass('hidden');
            } else {
                alert(data.message)
            }
        }, 'json');
        return false;
    })
</script>
{% endblock %}